
.container{
    width: 1920px;
    position: relative;
}

.header-immage{
    background-color: rgb(18, 137, 192);
    background-image: url(../img/pattern.png);
    height:120px;
    background-size:contain;
    background-repeat: repeat;
   
    

}
.container2{
    width: 1010px; 
    position: absolute;
    left:50%;
    transform: translate(-50%, 0%);
}

.logo{
    background-image: url(../img/logo.svg);
    height: 50px;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    top: 60px;
    left:10px;
}

main{
    width: 1010px; 
    position: absolute;
    left:50%;
    transform: translate(-50%, 0%);

}

.writer-title, .consigli{
    font-size:large;
    color: grey;
}

#writer{
    color: rgb(97, 153, 179);
}

.ccore-immage{
    text-align: center;
    width: 1010px;
    margin: auto;

}

.item{
  position: relative;
  display: inline-block;
  
  background-size: contain;
  background-repeat: no-repeat;

}
  

#img1{
    height:362px;
    width: 543px;
    background-image: url(../img/tim-1.jpg);
}

#img2{
    background-image: url(../img/tim-2.jpg);
    background-size: contain;
    height:361px;
    width: 463px;
}

.img-note{
    font-size: small;
}

.main-text{
    margin-top: 25px;
}

.highlight{
    background-color: #fffb00;
}

.container-row{
    position: relative;
    width: 1010px;
    /* text-align: center; */
}

.row{
    height: 80px;
    width: 1010px;
    position: relative;
}

.row.first{
    height: 25px;
    background-color: rgb(0, 138, 202);
    color: white;
}

.row.blue{
    background-color: rgb(92, 213, 253);

}
.row.white{
    background-color: rgb(255, 255, 255);
}


.left-column{
    position: absolute;
    display: inline-block;
    width: 24%;
    top: 50%;
    transform: translate(0, -50%);
}

.center-column{
    position: absolute;
    display: inline-block;
    width: 24%;
    top: 50%;
    left: 26%;
    transform: translate(0, -50%);
}

.right-column{
    display: inline-block;
    width: 48%;
    position: absolute;
    left: 52%;
    top: 50%;
    transform: translate(0, -50%);
}

#art{
    margin-top: 25px;
}

.final-img{
    position: relative;
    height: 207px;
    width:311px ;
    background-repeat: no-repeat;
    color: white;
    
}

#first{
    background-image:url(../img/monitor.jpg);
}

#last{
    background-image:url(../img/graph.jpg);
}

.final-img-text{
    position: absolute;
    left: 10px;
    top: -10px;
   
}